*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
     height: 100vh;
     background-color: hsl(221, 26%, 44%);
     display: flex;
     align-items: stretch;
     justify-content: space-around;
}
.container{
    background-color: #252e41;
    border-radius: 5px;
    padding: 20px;
}
.content{
    text-align: center;
}

.headingtag {
    margin: 20px;
    font-size: 40px;
}

.row button{
    width: 65px;
    height: 40px;
    border: none;
    margin: 5px;
    font-weight: bold;

    border-radius: 5px;
    box-shadow: 0px 2px 0px 0px hsl(28, 16%, 65%);

}
.row button:hover{
    box-shadow: inset 5px 5px 8px rgba(16, 16, 16, .1),
    inset -5px -5px 8px #fff;
    background: #fff;
}

.display input{
    width: 460px;
    height: 50px;
    margin: 2px 2px 8px 4px;
    outline: none;
    margin-left: 4px;
    text-align: right;
    padding: 15px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
}

#ce {
    background: #ff3399;
    color: #fff;
}

#ce:hover {
    box-shadow: inset 5px 5px 8px #e60073,
        inset -5px -5px 8px #ff3399;
}

#ac {
    background: #33cc33;
    color: #fff;
}

#ac:hover {
    box-shadow: inset 5px 5px 8px #2eb82e,
        inset -5px -5px 8px #33cc33;
}

#eval {
    background: #33ccff;
    color: #fff;
    box-shadow: inset 5px 5px 8px #66d9ff,
        inset -5px -5px 8px #00ace6;
}

#eval:hover {
    box-shadow: inset 5px 5px 8px #00ace6,
        inset -5px -5px 8px #00ace6;
}

